<div class="container">
    <h1>Le projet</h1>
    <p>Pourquoi ce site ? Pour plusieurs raisons en fait : j'aime découvrir de nouvelles choses, faire des expériences, observer,
        apprendre, et bidouiller chez moi. Et c'est pour cette raison que le Père Noël (non en fait ma conjointe qui m'encourage
        dans toutes mes lubies !) a déposé sous le sapin une fourmilière. C'est donc l'occasion pour moi de commencer ce
        nouveau projet, qui au delà de me faire découvrir le mode de vie fascinant de ces insectes sociaux, va me permettre
        d'expérimenter divers technologies (Angular 2, Ionic 2, Go, Google Cloud) et de les mettre en place dans le but de suivre
        et de comprendre l'évolution de ma colonie de fourmis.</p>
    <p>Ce site a donc comme objectif de faire découvrir à tous les curieux l'élevage de fourmis, de leur permettre de comparer
        minute après minute, heure après heure, semaine après semaine l'évolution de la fourmilière et à tous les développeurs
        de jeter un oeil aux technologies qui m'ont permis de créer ce laboratoire en ligne. Amis curieux, amis développeurs, amis tout court,
        soulevez avec moi le capôt de ce fabuleux projet !</p>

    <h2>Zoom sur les technos</h2>
    <h3>Serveur</h3>
    <ul>
        <li><b>Langage : </b> Go</li>
        <li><b>Hébergement : </b> Google AppEngine sur Google Cloud</li>
        <li><b>Base de données : </b> Google DataStore</li>
        <li><b>Stockage des fichiers : </b> Google Storage</li>
        <li><b>Architecture : </b> API REST avec une couche de persistance pour les requêtes en BDD</li>
    </ul>
    <p><b>Pourquoi ce choix ?</b> Parceque que Go est mon langage fétiche pour développer des serveurs d'applications : typage fort, compilation, rigueur de la syntaxe, simplicité d'utilisation et nombreuses librairies tierces disponibles. C'est aussi l'occasion de tester Google Cloud qui propose une multitude de services dans le cloud pour construire une application sans se soucier de l'aspect système. Le petit plus ? Scaling automatique de l'infrastructure en fonction de la charge !</p>
    <h3>Prise de vue</h3>
    <ul>
        <li><b>Langage : </b> Go + bash</li>
        <li><b>Plateforme : </b> Raspberry Pi 3</li>
        <li><b>Système d'exploitation : </b> Raspbian</li>
        <li><b>Matériel de prise de vue : </b> Raspberry Cam</li>
        <li><b>Architecture : </b> Une tâche cron lance la capture et l'envoi vers Google Storage toutes les minutes, via un script bash et un petit programme écrit en Go </li>
    </ul>
    <p><b>Pourquoi ce choix ?</b> Parcequ'un Raspberry ca ne coûte pas grand chose à l'achat, ca ne consomme rien même en restant allumé en permancence et ça permet d'installer un système Linux !</p>
    <h3>Le site</h3>
    <ul>
        <li><b>Langage : </b> Angular 2</li>
        <li><b>Framework visuel : </b> Bootstrap 3</li>
        <li><b>Système d'authentification : </b> OAuth2 pour l'identificat des administrateurs</li>
        <li><b>Outils : </b> ng-cli pour assister le développeur durant toutes les phases du projet</li>
        <li><b>Architecture : </b> L'application Angular 2 s'alimente aurpès des services REST exposées par le serveur et affiche ensuite les images en piochant directement dans Google Storage</li>
    </ul>
    <p><b>Pourquoi ce choix ?</b> Parceque je suis un grand fan d'AngularJS pour développer des applications web dynamiques rapidement et que c'est l'occasion de mettre en pratique mes connaissances fraichement acquises sur Angular 2.</p>
    <h3>L'application mobile (à venir)</h3>
    <ul>
        <li><b>Framework : </b> Ionic 2</li>
    </ul>
</div>