<div class="container">
    <h1>Le projet</h1>
    <p>Pourquoi ce site ? Pour plusieurs raisons en fait : j'aime découvrir de nouvelles choses, faire des expériences, observer,
        apprendre, et bidouiller chez moi. Et c'est pour cette raison que le Père Noël (non en fait ma conjointe qui m'encourage
        dans toutes mes lubies !) a déposé sous le sapin une fourmilière. C'est donc l'occasion pour moi de commencer ce
        nouveau projet, qui au delà de me faire découvrir le mode de vie fascinant de ces insectes sociaux, va me permettre
        d'expérimenter divers technologies (Angular 2, Ionic 2, Go, Google Cloud) et de les mettre en place dans le but de suivre
        et de comprendre l'évolution de ma colonie de fourmis.</p>
    <p>Ce site a donc comme objectif de faire découvrir à tous les curieux l'élevage de fourmis, de leur permettre de comparer
        minute après minute, heure après heure, semaine après semaine l'évolution de la fourmilière et à tous les développeurs
        de jeter un oeil aux technologies qui m'ont permis de créer ce laboratoire en ligne. Amis curieux, amis développeurs, amis tout court,
        soulevez avec moi le capôt de ce fabuleux projet !</p>

    <h2>Les technos</h2>
    <p>Section en cours de création</p>
    <h2>Les tutos</h2>
    <h3>Le serveur</h3>
    <ul>
        <li>Go : le langage backend nouvelle génération</li>
        <li>Google Cloud : des services clés en main pour héberger son application</li>
        <li>Google DataStore : une base de données NoSQL dans le cloud</li>
        <li>Google Storage : stocker ses fichiers dans le cloud</li>
        <li>Google AppEngine : un serveur d'application... sans serveur !</li>
        <li>Une API REST avec Go, Google Cloud, AppEngine, DataStore et Storage</li>
    </ul>
    <h3>La prise de vue</h3>
    <ul>
        <li>Raspberry Pi : un ordinateur complet pour le prix d'un jeu d'occasion</li>
        <li>Raspberry Cam : une webcam pour le raspberry</li>
        <li>Script de prise de vue</li>
    </ul>
    <h3>Le site</h3>
    <ul>
        <li>Angular 2 : créer une application web flexible, dynamique et performante</li>
        <li>ng-cli : L'assistant du développeur Angular 2</li>
        <li>Angular 2 : Composants</li>
        <li>Angular 2 : Services</li>
        <li>Angular 2 : Routage</li>
    </ul>
    <h3>L'application mobile</h3>
    <ul>
        <li>Ionic 2 : Cordova + Angular 2 = LOVE</li>
    </ul>
</div>