<div class='container'>
  <h2>Suivez en direct l'évolution de la fourmilière !</h2>

  <img class="img-responsive" [src]="pictureURL" (click)="getLastPicture();" />

  <div class="text-center">
    <p>{{picture.DateTime * 1000 | date:'dd/MM/yyyy HH:mm'}}</p>
  </div>

  <h3>Voyagez dans le temps et retracez l'historique de Marie-ANToinette et de ses sujets</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-md-4 text-right">
        <button class="btn btn-default" (click)="getPreviousPicture();">Précédent</button>
      </div>
      <div class="col-xs-4 col-md-4 text-center">
        <select class="form-control" [(ngModel)]="gap">
          <option *ngFor="let g of gaps" [ngValue]="g">{{g.name}}</option>
        </select>
      </div>
      <div class="col-xs-4 col-md-4 text-left">
        <button class="btn btn-default" (click)="getNextPicture();">Suivant</button>
      </div>
    </div>
  </div>
</div>